body {
  font-family: $Roboto;
}
a, button {
  @include transition;
  cursor: pointer;
}
a {
  &:hover {
    text-decoration: none;
  }
}
button {
  cursor: pointer;
}
#button-menu {
  display: none;
  background-color: transparent;
  background: none;
  border: 1px solid transparent;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  & span {
    display: block;
    width: 24px;
    height: 3px;
    margin-bottom: 3px;
    background-color: #ff4848;
  }
}
.navbar-nav {
  li {
    margin: 0 5px;
    a {
      font-size: 18px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-weight: 400;
      &:hover {
        color: #ff4848;
      }
    }
  }
}
.navbar-nav .current-menu-item  a{
  color: #ff4848;
}
.site-header {
  padding: 10px 0;
  background-color: #2c3e50;
}

