//**********************************
// MIN-WIDTH: 1201px
//**********************************
@media (min-width: 1201px) {

}
//**********************************
// MIN-WIDTH: 993px
//**********************************
@media (min-width: 993px) {


}
//**********************************
// MAX-WIDTH: 992px
//**********************************
@media (max-width: 992px) {
  #button-menu {
    display: block !important;
  }
  .navbar-nav {
    margin-top: 10px;
    li {
      text-align: center;
      margin: 0 0 5px 0;
    }
  }

}
//**********************************
// MAX-WIDTH: 768px
//**********************************
@media (max-width: 768px) {


}
//**********************************
// MAX-WIDTH: 576px
//**********************************
@media (max-width: 576px) {


}